<div class="row">
    <div class="col-md-12">
        <div class="m_title">{{ vm.usage_alerts_data.project.title }} <span class="label_h4"> Usage Alerts</span></div>
    </div>
</div>

<div class="row" ng-show="vm.show_alert_window">
    <form name="vm.usage_alert_form" novalidate>
        <div class="col-md-12">
            <div class="modal_section_div">
                <div class="modal_section_header">
                    <div class="modal_section_title">{{ vm.alert_text_label }}</div>
                    <div class="modal_section_close" ng-click="vm.closeAlertWindow()" title="Close"></div>
                </div>
                <div class="modal_section_noborder">
                    <span class="alert-info1"><strong>Note</strong></span>: Required fields are marked with
                    a <i class="glyphicon glyphicon-asterisk text-primary"></i> sign
                </div>
                <div class="modal_section_noborder" ng-class="{'has-error': vm.hasError}">
                    <span class="help-block has-error" ng-show="vm.hasError">
                         {{vm.error_msg}}
                    </span>
                </div>
                <div class="modal_section_noborder_inner">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="display_data_tab">
                                <tr>
                                    <th width="40%">
                                        Storage Product
                                    </th>
                                    <td>
                                        <div class="form-group" class="form-control">
                                            <div class="data_field_display">
                                                {{ vm.sp_alert_data.storage_product.name }}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Usage Alert Threshold(%) <i
                                            class="glyphicon glyphicon-asterisk text-primary"></i>
                                    </th>
                                    <td>
                                        <div class="form-group" class="form-control"
                                             ng-class="{'has-error':vm.usage_threshold_invalid}">
                                            <select name="threshold" id="threshold" class="form-control"
                                                    ng-model="vm.sp_alert_data.usage_alert.usage_threshold"
                                                    ng-options="thre as thre for thre in vm.thresholds"
                                                    ng-change="vm.checkUsageAlerts()">
                                                <option value="">--- Select ---</option>
                                            </select>
                                            <span class="help-block" ng-show="vm.usage_threshold_invalid">
                                            Invalid, please select an usage alert threshold
                                        </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Alert Frequency <i class="glyphicon glyphicon-asterisk text-primary"></i>
                                    </th>
                                    <td>
                                        <div class="form-group" class="form-control"
                                             ng-class="{'has-error':vm.frequency_invalid}">
                                            <select name="frequency" id="frequency" class="form-control"
                                                    ng-model="vm.sp_alert_data.usage_alert.frequency"
                                                    ng-options="fre.interval as fre.desc for fre in vm.frequencies"
                                                    ng-change="vm.checkUsageAlerts()">
                                                <option value="">--- Select ---</option>
                                            </select>
                                            <span class="help-block" ng-show="vm.frequency_invalid">
                                            Invalid, please select an alert frequency
                                        </span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="normal_blank_separator"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn bg-primary" type="submit" ng-click="vm.addOrEditAlert()">
                                {{ vm.alert_text_label }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal_section_footer">
                    &nbsp;&nbsp;
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="s_display_data_tab">
            <thead>
            <tr>
                <th width="20%">Storage Product</th>
                <th width="15%">Usage Alert Threshold (%)</th>
                <th width="15%">Frequency</th>
                <th width="20%">Created By</th>
                <th width="10%">Active</th>
                <th width="20">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sp_req in vm.usage_alerts_data.storage_requests">
                <td>
                    <span ng-class="{inactive_grey: !vm.isActive(sp_req)}">
                        {{sp_req.storage_product.name}}
                    </span>
                </td>
                <td>
                    <span ng-class="{inactive_grey: !vm.isActive(sp_req)}">
                        {{sp_req.usage_alerts[0].usage_threshold}}
                    </span>
                </td>
                <td>
                    <span ng-class="{inactive_grey: !vm.isActive(sp_req)}">
                        {{ vm.renderFrequency(sp_req.usage_alerts[0].frequency) }}
                    </span>
                </td>
                <td>
                    <span ng-class="{inactive_grey: !vm.isActive(sp_req)}">
                        {{sp_req.usage_alerts[0].created_by.email}}
                    </span>
                </td>
                <td>
                     <span ng-class="{inactive_grey: !vm.isActive(sp_req)}">
                        {{sp_req.usage_alerts[0].active}}
                    </span>
                </td>
                <td>
                    <span ng-if="sp_req.usage_alerts.length == 0">
                        <input class="btn btn-default" type="button" value="Add New Usage Alert"
                               ng-click="vm.showAlertAddOrEdit(sp_req, true)">
                    </span>
                    <span ng-if="sp_req.usage_alerts.length == 1">
                        <input class="btn btn-default" type="button" value="Edit"
                               ng-click="vm.showAlertAddOrEdit(sp_req, false)">
                    </span>
                    <span ng-if="!vm.isActive(sp_req)">
                         <input class="btn btn-default" type="button" value="Activate"
                                ng-click="vm.activateAlert(sp_req, true)">
                    </span>
                    <span ng-if="vm.isActive(sp_req) && sp_req.usage_alerts.length > 0">
                        <input class="btn btn-default" type="button" value="Deactivate"
                               ng-click="vm.activateAlert(sp_req, false)">
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>