<div class="display-content">
    <div class="row">
        <div class="col-md-12">
            <br/>

            <p> (a) You must use Monash University Research Cloud Storage in a secure manner and follow all
                <a href="https://support.ehelp.edu.au/support/solutions/folders/6000203455" target="_blank">
                    security guidelines and policies</a>.
            </p>
            <br/>
            <p> (b) Your use of Monash University Research Cloud Storage may be monitored for all lawful purposes,
                to ensure
                that the use is authorised, for management of the system, to facilitate protection against unauthorised
                access and to verify security procedures, availability and operational security.
            </p>
            <br/>
            <p> (c) Unauthorised use is prohibited and may result in administrative and/or legal action. If you do not
                understand this notice, disconnect immediately, do not proceed further and contact the
                <a href="mailto:RDSM-Support-l@monash.edu">Data Dashboard support team</a>.
            </p>
        </div>
    </div>
</div>