<div class="nav-title-bar">
    <div class="nav-title-inline" ng-show="nav.has_first_level">
        &nbsp; {{ nav.first_level_title }}
    </div>
    <div class="nav-title-inline" ng-show="nav.has_second_level">
        <i class="fa fa-angle-right"></i> {{ nav.second_level_title }}
    </div>
    <div class="nav-title-inline" ng-show="nav.has_third_level">
        <i class="fa fa-angle-right"></i> {{ nav.third_level_title }}
    </div>
    <div class="nav-title-inline" ng-show="nav.has_fourth_level">
        <i class="fa fa-angle-right"></i> {{ nav.fourth_level_title }}
    </div>
</div>
<br/>