<div ng-include="'templates/crams_authen_header.html'"></div>
<div ng-include="'templates/crams_side_menu.html'"></div>
<div ng-include="'templates/crams_nav_title.html'"></div>
<div>
    <div class="main-display">
        <div class="row">
            <div class="col-md-12">
                <h4>This is dummy menu for cache clean testing</h4>
                <br>
                <br>
                <br>
                <p>{{message}}</p>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<div style="clear:both"/>
<div ng-include="'templates/' + theme + '/site_footer.html'"></div>